* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #ebebeb;
}

.menu-header {
    background: #fff;
}

main h1 {
    text-align: center;
    color: red;
}

.btns {
    text-align: center;
    padding: 10px 0;
}

.btns button {
    margin: 0 5px;
    border: none;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    background: none;
}

.btns button:hover {
    text-decoration: underline 2px red;
    /* transition: 0.3s; */
}

.menu-container {
    display: grid;
    padding: 20px 25px;
    gap: 30px 25px;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
    justify-content: center;
    /* align-items: start; */
}

.card {
    background: white;
    padding: 5px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    border: 1px solid red;
    border-radius: 10px 0 0;
    position: relative;
    max-width: 680px;
    font-size: 18px;
}

h2 {
    width: auto;
    text-decoration: underline double 1.5px;
}

.img-container {
    flex: 1;
}

.card-info {
    flex: 2;
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 165px;
    border-radius: 10px;
}

.info {
    padding: 5px 0 30px;
}

.price {
    right: 0;
    bottom: 0;
    color: red;
    font-weight: bold;
    padding: 10px 10px 0;
    position: absolute;
}

@media screen and (max-width: 1060px) {

    .img-container {
        flex: 1.5;
    }

    .card-info {
        flex: 2;
    }
}

@media screen and (max-width: 950px) {
    .menu-container {
        grid-template-columns: auto;
    }

}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }

    h2 {
        font-size: 24px;
    }

    .menu-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .card img{
        height: 220px;
    }

}

/* For active button */
.active {
    text-decoration: underline red 2px;
}
